Source: slaughter2
Section: admin
Priority: optional
Maintainer: Steve Kemp <steve@steve.org.uk>
Build-Depends: debhelper (>> 5.0.0), libwww-perl | libmojolicious-perl (>> 2.98) , libdigest-sha-perl | libdigest-sha1-perl, perl-modules (>> 5.10.1~rc2-1) | libparent-perl, libtext-template-perl
Standards-Version: 3.9.1
Homepage: http://www.steve.org.uk/Software/slaughter/


Package: slaughter2-client
Provides: slaughter, slaughter2
Replaces: slaughter-client
Architecture: all
Depends: ${misc:Depends}, libdigest-sha-perl | libdigest-sha1-perl, libwww-perl | libmojolicious-perl (>> 2.98) , libtext-template-perl, perl-modules (>> 5.10.1~rc2-1) | libparent-perl
Description: Automation tool to perform system administration remotely
 This package contains a client which will connect to a central server
 and fetch policies to execute.
 .
 The policies may be fetched via several different methods including:
 .
  * HTTP
 .
  * rsync
 .
  * Git/Mercurial/Subversion
 .
 The locally-executed policies are expressive perl scripts with an additional
 set of helper primitives which allow such actions as:
 .
  * Copying files.
 .
  * Manipulating system packages.
 .
  * Executing programs.
 .
  * Sending alerts.
 .
 There is no need for a centralised slaughter-server, except for that required
 to provide the policies.
