Source: slaughter
Section: admin
Priority: optional
Maintainer: Steve Kemp <steve@steve.org.uk>
Build-Depends: debhelper (>> 5.0.0), libwww-perl, libtest-more-perl, libdigest-sha1-perl, perl-modules
Standards-Version: 3.9.1
Homepage: http://www.steve.org.uk/Software/slaughter/


Package: slaughter-client
Provides: slaughter
Architecture: all
Depends: ${misc:Depends}, libdigest-sha1-perl, libwww-perl, libtext-template-perl, perl-modules
Suggests: httpd
Description: Automation tool to perform system administration remotely
 This package contains a client which will connect to a central (HTTP) server
 and fetch policies to execute.
 .
 The locally-executed policies are expressive perl scripts with an additional
 set of helper primitives which allow:
 .
  * Copying files.
 .
  * Manipulating system packages.
 .
  * Executing programs.
 .
  * Sending alerts.
 .
 There is no need for a centralised slaughter-server, as all policy
 files are served via HTTP (or HTTPS).
